<!DOCTYPE html>
    <head></head>
    <body>
        <p>
            <h1><a href="{% url 'python_django_NFSs:index' %}">首頁</a></h1>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}.
                <form action="{% url 'users:logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="submit" value="Logout">
                </form>
            {% else %}
                <a href="{% url 'users:login' %}">
                    <input type="submit" name="submit" value="Login">
                </a>
                <a href="{% url 'users:register' %}">
                    <input type="submit" name="submit" value="Register">
                </a>
            {% endif %}
            <hr/>
        </p>
    </body>

    {% block content %}{% endblock content %}
</html>