<!DOCTYPE html>
    <head></head>
    <body>
        <p>
            <h1><a href="{% url 'python_django_NFSs:index' %}">首頁</a></h1>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}.
                <form action="{% url 'users:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'users:login' %}"><button>Login</button></a>
                <a href="{% url 'users:register' %}"><button>Register</button></a>
            {% endif %}
            <hr/>
        </p>
    </body>

    {% block content %}{% endblock content %}
</html>