<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initialscale=1, shrink-to-fit=no">
        <title>MzNFS</title>
        <link rel="stylesheet" href="./base.css">
    </head>
    <body>
        <p>
            <h1><a href="{% url 'python_django_NFSs:index' %}">首頁</a></h1>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}.
                <form action="{% url 'users:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'users:login' %}"><button>Login</button></a>
                <a href="{% url 'users:register' %}"><button>Register</button></a>
            {% endif %}
        </p>
    </body>

    {% block content %}{% endblock content %}
</html>