{% extends "python_django_NFSs/base.html" %}
{% block content %}
    <p>
        {{ form }}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Download">
            <input type="submit" value="Delete">
            <input type="submit" value="Rename">
            <input type="submit" value="Upload">
            <input type="file" name="upload_files" multiple><br><br>
            <input type="checkbox"> all<br>
            {% for i, j in files_attribute.items %}
                <input type="checkbox" id="{{ forloop.counter }}" name="{{ i }}" value="{{ j }}">
                {% if j == "dir" %}
                <a href="{{ i }}">{{ i }}/</a><br>
                {% else %}
                    {{ i }}<br>
                {% endif %}
            {% endfor %}
        </form>
    </p>
{% endblock content %}